  @import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Kanit:wght@700;900&family=Titillium+Web:wght@400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

canvas{
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
}
body{
    
    background-color: #05060b
}

.ball-text {
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 5rem;
    right: 20%;
    bottom: 40%;
    transform: translate(-20%, -40%);
  }
  .title, .Connect{
    font-family: 'Bruno Ace SC', cursive;
         color: #00A7E1;
        font-size: 10vw;
        position: fixed;
        width: 100svw;
        position: fixed;
        text-align: center;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.ball-animation{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

body{
    overflow-x:hidden;  
}

.banner{
    background-color: #000000;
    height: 10svh;
    width: 100svw;
  position: relative;
  font-family: 'Bruno Ace SC', cursive;
}
.banner h1{     
    position: absolute;
  width: 100svw;
  font-size: 200%;
  text-align: center;
  top: 50%;
}
.banner-demo{
    background-color: #DC5285;
    width: 100%;
    height: 100%;
    padding: 5%;
    position: absolute;
}
#particles-js{
    background-color: fff;
    height: 100vh;
    position: absolute;
    z-index: -99;
}

.header{
    z-index: 1;
    font-family: 'Anybody', cursive;
font-family: 'Inter', sans-serif;
color: #fff;
}
#sub-title{
font-size: 180% ;
line-height: 50px;
padding: 5%;
}

.statistics{
color: #fff;
width: 100%;
padding: 0 10%;
text-align: left;
font-size: 2rem;
}

.left{
    width: 50%;
    left: 0;
    padding-top: 15%;
}

.right{
    float: right;
    width: 50%;
    padding: 5%;
}



@media only screen and (max-width: 600px) {
    .banner h1{
        font-size: 100%;
    }
    .left{
        width: 50%;
        left: 0;
        padding-top: 7rem;
    }
    .statistics{
        font-size: 1rem;
    }
}