@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;600;800&family=Inter:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    width: 100dvw;
    height: 100dvh;
    object-fit: cover;
}
.ball-text {
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 5rem;
    right: 20%;
    bottom: 40%;
    transform: translate(-20%, -40%);
  }
  .title{
         color: #00A7E1;
        font-size: 10vw;
        position: fixed;
        width: 100svw;
        position: fixed;
        text-align: center;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}

.ball-animation{
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

body{
    overflow-x:hidden;  
}

#circle{
    position: absolute;
    width: 140%;
    height: 140%;
    transform: translate(-30%, -50%);
    background-color: #00171F   ;
    border-radius: 100%;
    z-index: -1;
}
#particles-js{
    background-color: fff;
    height: 100vh;
    position: absolute;
    z-index: -99;
}

.header{
    z-index: 1;
    font-family: 'Anybody', cursive;
font-family: 'Inter', sans-serif;
color: #fff;
}
#sub-title{
font-size: 180% ;
line-height: 50px;
padding: 5%;
}